In [2]:
import pandas as pd

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\pinil\anaconda3\lib\site-packages (3.11.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pymongo import MongoClient

In [5]:
client=MongoClient("localhost:27017")

In [6]:
client.list_database_names()

['Ironhack', 'MODULO2_PROYECT', 'admin', 'config', 'local']

In [7]:
db=client.get_database("MODULO2_PROYECT")

In [8]:
db.list_collection_names()

['POBLACION_2019']

In [9]:
collection=db.get_collection("POBLACION_2019")
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'MODULO2_PROYECT'), 'POBLACION_2019')

In [10]:
c=collection

In [11]:
c.find_one().keys()

dict_keys(['_id', 'FECHA', 'SEXO', 'PROVINCIA', 'POBLACIÓN'])

In [17]:
query = {"FECHA": {"$exists": True}}
proj = {"_id": 0, "FECHA": 1,"PROVINCIA":1,"POBLACIÓN":1}

In [18]:
poblacion=list(c.find(query,proj))
poblacion

[{'FECHA': '2019', 'PROVINCIA': 'AVILA', 'POBLACIÓN': '78569'},
 {'FECHA': '2019', 'PROVINCIA': 'AVILA', 'POBLACIÓN': '79071'},
 {'FECHA': '2019', 'PROVINCIA': 'LEON', 'POBLACIÓN': '223744'},
 {'FECHA': '2019', 'PROVINCIA': 'SALAMANCA', 'POBLACIÓN': '160364'},
 {'FECHA': '2019', 'PROVINCIA': 'BURGOS', 'POBLACIÓN': '178728'},
 {'FECHA': '2019', 'PROVINCIA': 'SEGOVIA', 'POBLACIÓN': '76813'},
 {'FECHA': '2019', 'PROVINCIA': 'LEON', 'POBLACIÓN': '236257'},
 {'FECHA': '2019', 'PROVINCIA': 'PALENCIA', 'POBLACIÓN': '81172'},
 {'FECHA': '2019', 'PROVINCIA': 'SALAMANCA', 'POBLACIÓN': '169755'},
 {'FECHA': '2019', 'PROVINCIA': 'SORIA', 'POBLACIÓN': '43822'},
 {'FECHA': '2019', 'PROVINCIA': 'VALLADOLID', 'POBLACIÓN': '266330'},
 {'FECHA': '2019', 'PROVINCIA': 'ZAMORA', 'POBLACIÓN': '87198'},
 {'FECHA': '2019', 'PROVINCIA': 'BURGOS', 'POBLACIÓN': '178230'},
 {'FECHA': '2019', 'PROVINCIA': 'PALENCIA', 'POBLACIÓN': '79808'},
 {'FECHA': '2019', 'PROVINCIA': 'SORIA', 'POBLACIÓN': '44814'},
 {'FECHA': '2019', 'PROVINCIA': 'VALLADOLID', 'POBLACIÓN': '253216'},
 {'FECHA': '2019', 'PROVINCIA': 'ZAMORA', 'POBLACIÓN': '85341'},
 {'FECHA': '2019', 'PROVINCIA': 'SEGOVIA', 'POBLACIÓN': '76316'}]

In [22]:
df = pd.DataFrame(poblacion)
df.head()

  FECHA  PROVINCIA POBLACIÓN
0  2019      AVILA     78569
1  2019      AVILA     79071
2  2019       LEON    223744
3  2019  SALAMANCA    160364
4  2019     BURGOS    178728

In [23]:
df.to_excel("poblacion_provincias_csv.xlsx")